<a href="https://colab.research.google.com/github/JuanDavidBoteroRuiz/EntregaMinDat/blob/main/SR_Matriz_de_peso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url_movie = 'https://drive.google.com/uc?id=1H64TOo4OQYnDPn50x1zMkF0bZhqhYaeB'
url_rating = 'https://drive.google.com/uc?id=12vtDPA2TogM4fho6Av8hkcOQI0-BRYDd'

In [ ]:
peliculas = pd.read_csv(url_movie)

In [ ]:
rating = pd.read_csv(url_rating)

In [ ]:
peliculas.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
# Se preparan los datos
peliculas['year'] = peliculas.title.str.extract('(\(\d\d\d\d\))',expand = False)
peliculas['year'] = peliculas.year.str.replace('(','').str.replace(')','') 
peliculas['title'] = peliculas.title.str.replace('(\(\d\d\d\d\))','')
peliculas['title'] =peliculas['title'].apply(lambda x: x.strip())
peliculas['genres'] = peliculas.genres.str.split('|') #Ahora se dividen los valores de la columna de generos en una lista de generos para simplificar el uso futuro, lo haremos con una funcion de cadena dividia de python

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [ ]:
peliculas.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [ ]:
#Ya con los generos en una lista se crean columnas y uilizando la tecnica one hot encoding para codificar las peliculas
peliculas_co = peliculas.copy() # se hace una copia
for index, row in peliculas.iterrows(): 
    for genre in row ['genres']: #se asigna 1 a cada genero que correspnda 
        peliculas_co.at[index,genre] =1 #se guarda en la copia
peliculas_co = peliculas_co.fillna(0) #se asigna 0 donde no aplican los generos
peliculas_co

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27273,131254,Kein Bund für's Leben,[Comedy],2007,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27274,131256,"Feuer, Eis & Dosenbier",[Comedy],2002,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27275,131258,The Pirates,[Adventure],2014,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27276,131260,Rentun Ruusu,[(no genres listed)],2001,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
27277,131262,Innocence,"[Adventure, Fantasy, Horror]",2014,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Identificamos de forma visual y numérica cuales son las correlaciones mas fuertes entre los generos
peliculas_co.corr().style.background_gradient(cmap='Greens')

In [ ]:
rating

         userId  movieId  rating   timestamp
0             1        2     3.5  1112486027
1             1       29     3.5  1112484676
2             1       32     3.5  1112484819
3             1       47     3.5  1112484727
4             1       50     3.5  1112484580
...         ...      ...     ...         ...
1048570    7120      168     5.0  1175543061
1048571    7120      253     4.0  1175542225
1048572    7120      260     5.0  1175542035
1048573    7120      261     4.0  1175543376
1048574    7120      266     3.5  1175542454

[1048575 rows x 4 columns]

In [ ]:
rating = pd.read_csv(url_rating)
rating = rating.drop('timestamp',1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [ ]:
#Se crea un dataframe con voles de entrada de un usuario 
usuario_en =[
# {'title':'Breakfast Club, The','rating':5},
{'title':'Toy Story','rating':3.5},
# {'title':'Jumanji','rating':2},
# {'title':'Pulp Fiction','rating':5},
# {'title':'Akira','rating':4.5},
]
entrada_peli = pd.DataFrame(usuario_en)
entrada_peli

       title  rating
0  Toy Story     3.5

In [ ]:
# ahora se agrega la identificacion a cada pelicula que ingreso el usuario. Se hace filtrando las filas que contienen el titulo de la pelicula y luego fusionando con nuestra matriz de peliculas originales
id= peliculas[peliculas['title'].isin(entrada_peli['title'].tolist())] # se filtra
entrada_peli = pd.merge(id,entrada_peli)# se fusionan las matrices 
entrada_peli = entrada_peli.drop('genres',1).drop('year',1) 
entrada_peli

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

   movieId      title  rating
0        1  Toy Story     3.5

In [ ]:
# Se crea un nuevo dataframe solo con las peliculas del usuario y los generos
peli_usuario = peliculas_co[peliculas_co['movieId'].isin(entrada_peli['movieId'].tolist())]
peli_usuario

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Se crea un data frame con todos los generos pero solamente para las peliculas del usuario
peli_usuario = peli_usuario.reset_index(drop = True)
tabla_generos = peli_usuario.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
tabla_generos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Para modelar el algoritmo se crea la matriz de peso que es un producto punto entre la matriz transpuesta de los valores de los generos y los rating de entrada del usuario
perfil_usu= tabla_generos.transpose().dot(entrada_peli['rating'])
perfil_usu

Adventure             3.5
Animation             3.5
Children              3.5
Comedy                3.5
Fantasy               3.5
Romance               0.0
Drama                 0.0
Action                0.0
Crime                 0.0
Thriller              0.0
Horror                0.0
Mystery               0.0
Sci-Fi                0.0
IMAX                  0.0
Documentary           0.0
War                   0.0
Musical               0.0
Western               0.0
Film-Noir             0.0
(no genres listed)    0.0
dtype: float64

In [ ]:
#ahora se a extraen los generos de la tabala original, para luego ser multiplicado por la matriz de peso
generos = peliculas_co.set_index(peliculas_co['movieId'])
generos = generos.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
generos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131254,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131256,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131258,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
131262,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#ahora se calcula el promedio ponderado para recomendar las peliculas deseadas de nuestra base de datos
recom = ((generos*perfil_usu).sum(axis=1))/(perfil_usu.sum())
recom = recom.sort_values(ascending = False) #ordenamos las recomendacion de forma descendente
recom.head(20)

movieId
1         1.0
65577     1.0
108932    1.0
33463     1.0
78637     1.0
78499     1.0
36397     1.0
117454    1.0
2987      1.0
3114      1.0
45074     1.0
47124     1.0
115879    1.0
84637     1.0
4886      1.0
115875    1.0
51632     1.0
3754      1.0
51939     1.0
114240    1.0
dtype: float64

In [ ]:
perfil_usu.sum()

17.5

In [ ]:
# Como resultado se muestran las mejores peliculas a recomendar para dicho usuario
final = peliculas.loc[peliculas['movieId'].isin(recom.head(20).keys())]
nfinal = final[['title']]
nfinal

                                                   title
0                                              Toy Story
2901                            Who Framed Roger Rabbit?
3027                                         Toy Story 2
3663             Adventures of Rocky and Bullwinkle, The
4790                                      Monsters, Inc.
10114   DuckTales: The Movie - Treasure of the Lost Lamp
10367                                            Valiant
10987                                          Wild, The
11187                                     Ant Bully, The
11704                            Atlantis: Milo's Return
11739                TMNT (Teenage Mutant Ninja Turtles)
13337                            Tale of Despereaux, The
15401                                        Toy Story 3
15425  Shrek Forever After (a.k.a. Shrek: The Final C...
16737                                    Gnomeo & Juliet
22763                                     The Lego Movie
24092                                            Aladdin
24458                 Toy Story Toons: Hawaiian Vacation
24460                         Toy Story Toons: Small Fry
24849                                  The Magic Crystal